.footer {
  background: var(--title-bg-color);
  padding: 60px 0;
}

.footer__conteiner {
  // display: flex;
  align-items: baseline;
  margin: 0 auto;
  padding: 0 15px;
  width: 100%;

  @media screen and (min-width: 1200px) {
    display: flex;
  }
}

.footer__box {
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-between;
  }
}

.footer-dark {
  @media screen and (max-width: 480px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @media screen and (min-width: 1200px) {
    flex-direction: row;
  }
}

.web__footer {
  // display: block;
  // margin-bottom: 30px;
  text-decoration: none;
  color: var(--title-color);
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;

  @media screen and (min-width: 768px) {
    margin-left: 115px;
  }

  @media screen and (min-width: 1200px) {
    margin-left: 70px;
  }
}

.footer__list {
  // padding-right: 0;
  @media screen and (min-width: 768px) {
    margin-left: 55px;
  }
}

.footer__items:not(:last-child) {
  width: 230px;
  margin-bottom: 10px;
}

.social__footer {
  margin-left: 70px;
  margin-right: 90px;
}

.social__title--footer {
  // margin: 0;
  // margin-bottom: 20px;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-color);

  @media screen and (max-width: 480px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
  }

  @media screen and (min-width: 768px) {
    text-align: center;
  }

  @media screen and (min-width: 1200px) {
    text-align: start;
  }
}

.social__list--footer {
  padding: 0;

  @media screen and (max-width: 480px) {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }

  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
}

.social__item--footer:not(:last-child) {
  margin-right: 10px;
}

.social__link--footer {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social__link--footer:focus,
.social__link--footer:hover {
  background-color: var(--web-color);
}

.footer-social__logo-svg {
  fill: var(--title-color);
  margin: 0;
}

.adres-go {
  @media screen and (max-width: 480px) {
    margin-top: 20px;
  }
  @media screen and (min-width: 768px) {
    margin: 20px;
  }
}

.adres {
  margin: 10px auto 10px 0;
  text-decoration: none;
  color: var(--title-color);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.adres__link {
  @media screen and (max-width: 480px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 8px;
  }

  @media screen and (min-width: 768px) {
    align-items: flex-start;
    flex-direction: row;
    margin-top: 8px;
  }
}

.substrides {
  align-items: center;
  color: var(--title-color);
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  @media screen and (max-width: 480px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
  }

  @media screen and (min-width: 1200px) {
    margin-top: 0;
    align-items: flex-start;
  }
}

.substrides__title--footer {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--page-title);
  margin-bottom: 20px;

  @media screen and (max-width: 480px) {
    margin-top: 60px;
  }
}

.substrides__box--footer {
  @media screen and (max-width: 480px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @media screen and (min-width: 1200px) {
    flex-direction: row;
  }
}

.input-email {
  width: 358px;
  height: 50px;
  color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: var(--title-bg-color);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  padding-left: 16px;
  margin-right: 12px;
}

.btn-email {
  width: 200px;
  height: 50px;
  color: var(--title-color);
  background-color: var(--web-color);
  border-width: 0px;
  border-radius: 4px;
  font-size: 16px;
  line-height: 1.6;
  padding: 6px 22px 6px 22px;
  font-weight: 500;
  margin-right: 0;
}

.logo__email {
  fill: var(--title-color);
  margin-left: 10px;
}

.substride-label {
  width: 358px;
  height: 50px;
  margin-right: 12px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  padding: 15px 0 15px 16px;
  color: var(--adrec-el-color);

  @media screen and (min-width: 768px) {
    margin-right: 0;
  }
}

.portfolio__items--footer {
  margin-bottom: 10px;
  width: 230px;
}
