.herov {
  background-color: var(--title-bg-color);
  text-align: center;
  padding: 200px 0;
}

.overlane {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/tatle-mig.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.herov__title {
  letter-spacing: 0.06em;
  line-height: 1.36;
  text-transform: uppercase;
  color: var(--title-color);
  margin: 0 auto;
  max-width: 696px;
  font-weight: 900;
  font-size: 44px;
  margin-bottom: 30px;
}
