.nav {
  //display: flex;
  //align-items: center;
  display: none;

  @media screen and (min-width: 768px) {
    display: block;
  }
}

.web {
  // margin-right: 90px;
  text-decoration: none;
  color: var(--main-br-color);
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;

  @media screen and (min-width: 768px) {
    margin-right: 88px;
  }

  @media screen and (min-width: 1200px) {
    margin-right: 93px;
  }
}

.web-span {
  color: var(--web-color);
}

.nav__list {
  display: flex;
  margin: 0px;
  padding: 0px;
}

.nav__items:not(:last-child) {
  margin-right: 50px;
}

.nav__link {
  text-decoration: none;
  color: var(--main-br-color);
  font-weight: 500;
  font-size: 14px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav__link--caren {
  color: var(--web-color);
  position: relative;
}

.nav__link--caren::after {
  position: absolute;
  display: block;
  content: "";
  height: 4px;
  top: 42px;
  width: 100%;
  background-color: var(--web-color);
  border-radius: 2px;
}

.nav__link:hover,
.nav__link:focus {
  color: var(--web-color);
}

.adrec__list {
  //display: flex;
  // align-items: center;
  //margin-left: auto;
  display: none;

  @media screen and (min-width: 768px) {
    display: block;
    margin-left: auto;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
  }
}

.adrec__items {
  &:not(:last-child) {
    @media screen and (max-width: 1199px) {
      margin-bottom: 10px;
    }
    @media screen and (min-width: 1200px) {
      margin-right: 30px;
    }
  }
}

.adres__link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--adrec-el-color);
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.adrec__logo-svg {
  margin-right: 5px;
  fill: currentColor;
}

.adres__link:hover,
.adres__link:focus,
.adrec-icons-svg-envelope:hover,
.adrec-icons-svg-envelope:focus,
.adrec-icons-svg-smartphone:hover,
.adrec-icons-svg-smartphone:focus {
  color: var(--web-color);
}
