.specific {
  display: flex;
  padding-top: 94px;
}

.conteiner {
  margin: 0 auto;
  width: 1200px;
  align-items: center;
  padding: 0px 15px;
}

.specific__list {
  display: flex;
}

.specific__items:not(:last-child) {
  margin-right: 30px;
}

.specific__thumb {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  background-color: var(--sector-bg-color);
}

.social__logo--svg {
  width: 70px;
  height: 70px;
  border-radius: 4px;
  fill: rgba(245, 244, 250, 1);
  background-size: 70px;
  background-repeat: no-repeat;
  background-position: center;
}

.specific__title {
  margin-bottom: 10px;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--main-br-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
}

.specific__description {
  width: 270px;
  text-decoration: none;
  color: var(--adrec-el-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}
