.enter__button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-width: 200px;
  min-height: 50px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--title-color);
  background-color: var(--web-color);
  padding: 0;
  margin-right: 124px;
  margin-left: 124px;
  border-radius: 4px;
  border-color: transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}
