label {
  font-weight: 400;
  position: relative;
  display: flex;
  justify-content: inherit;
  color: var(--adrec-el-color);
  margin-right: 440px;
  margin-bottom: 5px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}
