.menu {
  display: flex;
  margin-right: 18px;
  border: none;
  position: absolute;
  right: 0;
  color: var(--main-br-color);
  background: none;
}

.menu__logo-svg {
  fill: currentColor;
}

@media (min-width: 768px) {
  .menu {
    display: none;
  }
}
