.button__title {
  color: var(--title-color);
  line-height: 1.9;
  letter-spacing: 0.06em;
  border-radius: 4px;
  padding: 10px 32px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  background: var(--web-color);
}

label {
  font-weight: 400;
  position: relative;
  display: flex;
  justify-content: inherit;
  color: var(--adrec-el-color);
  margin-right: 440px;
  margin-bottom: 5px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}

.window__inputs {
  position: relative;
  margin-bottom: 10px;
}

.window__inputs-box {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding-left: 42px;
}

.window__inputs-box:hover,
.window__inputs-box:focus {
  border: 1px solid var(--web-color);
  outline: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.window__inputs-box:focus + .window__logo-icon,
.window__inputs-box:hover + .window__logo-icon {
  fill: var(--web-color);
}

.window__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: var(--main-br-color);
  letter-spacing: 0.03em;
  margin-bottom: 12px;
}

.window__logo-icon {
  fill: currentColor;
  position: absolute;
  fill: var(--title-cl);
  left: 15px;
  top: 50%;
  transform: translatey(-50%);
}

.area__window {
  resize: none;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding: 12px 16px;
}

.btn__chec {
  position: relative;
  justify-content: center;
  margin-bottom: 30px;
}

.window-form {
  display: flex;
  flex-direction: column;
}

.conditions {
  display: flex;
  width: 100%;
  align-items: center;
  margin-top: 20px;
}

.input__chec {
  width: 16px;
  height: 16px;
  border: 2px solid var(--main-br-color);
  border-radius: 4px;
  margin-right: 8px;
}

.boxchek:checked + .input__chec {
  background-color: var(--web-color);
  background-image: url("../images/Vector.svg");
  background-size: contain;
  background-origin: border-box;
  border-color: var(--web-color);
}

.boxchek:focus + .input__chec {
  color-adjust: var(--main-br-color);
}

.sentence {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
}

.sentence__span {
  color: var(--web-color);
}

.enter__button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-width: 200px;
  min-height: 50px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--title-color);
  background-color: var(--web-color);
  padding: 0;
  margin-right: 124px;
  margin-left: 124px;
  border-radius: 4px;
  border-color: transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}
