html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Roboto", sans-serif;
  color: #212121;
  font-size: 14px;
  margin: 0;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

ul {
  margin: 0px;
  padding: 0px;
}

li {
  list-style: none;
}
