:root {
  --main-br-color: #212121;
  --border-bottom-color: #ececec;
  --web-color: #2196f3;
  --adrec-el-color: #757575;
  --title-color: #ffffff;
  --title-bg-color: #2f303a;
  --work-bg-color: #e5e5e5;
  --sector-bg-color: #f5f4fa;
  --fanc-br-color: #eeeeee;
  --social-icon-color: #afb1b8;
}
